parameters:
    level: 6

    paths:
        - src/
        - tests/

    scanDirectories:
        - vendor

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            # Ignore missing or imprecise parameter types for methods in tests
            message: '(^Method .+ has parameter .+ with no.* type specified.*\.$)'
            path: tests
        -
            # Ignore imprecise return types for methods in tests
            message: '(^Method .+ return type has no.* type specified.+\.$)'
            path: tests
        -
            # Ignore missing return types for methods in tests
            message: '(^Method .+ has no return type specified\.$)'
            path: tests
