language: php

php:
   - 7.3
   - 7.4
   - 8.0

before_script:
  - composer install --ignore-platform-reqs

script:
  - phpunit --coverage-text

after_script:
- wget https://scrutinizer-ci.com/ocular.phar
- php ocular.phar code-coverage:upload --format=php-clover coverage.clover
