<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
>
  <coverage />
  <testsuites>
    <testsuite name="all">
      <directory suffix="Test.php">tests/Unit/</directory>
      <directory suffix="Test.php">tests/Integration/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>functional</group>
    </exclude>
  </groups>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">src/Redmine/</directory>
    </include>
  </source>
</phpunit>
