<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
>
  <coverage processUncoveredFiles="true"
            pathCoverage="true"
            cacheDirectory=".phpunit.cache/code-coverage">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <php>
    <ini name="error_reporting" value="E_ALL" />
    <ini name="display_errors" value="1" />
  </php>
  <source>
    <include>
      <directory suffix=".php">src/Redmine/</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="all">
      <directory suffix="Test.php">tests/Unit/</directory>
      <directory suffix="Test.php">tests/Integration/</directory>
    </testsuite>
  </testsuites>
</phpunit>
